html,
body,
#__next,
.color-page {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.color-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.color-page button {
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.color-page button:hover,
.color-page button:focus {
  border: 1px solid black;
}

.color-page button:active {
  opacity: 0.8;
}