:root {
  --bgColour: #1f1c37;
  --textColour: whitesmoke;
}

html,
body,
#__next,
.color-page {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  top: 0px;
  position: absolute;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bgColour);
  color: var(--textColour)
}

a,
button,
.color-page h2 {
  cursor: pointer;
}

a {
  color: var(--textColour);
  opacity: 0.8;
}

a:hover {
  opacity: 1;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}

ul {
  list-style: none;
  padding: 0;
  margin: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  align-content: start;
  gap: 2rem;
}

ul a {
  text-decoration: none;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 8px;
  background-color: #1f1c37;
  transition: background-color 0.2s ease-in-out;
}

ul a:hover,
ul a:focus {
  background-color: whitesmoke;
}

ul h2,
ul p {
  margin: 0.5rem;
}

.color-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.color-name {
  text-align: center;
}

.color-page button {
  padding: 0.5em 1em;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.color-page button:hover,
.color-page button:focus {
  opacity: 0.8;
}

.color-page button:active {
  opacity: 0.5;
}

.confirm-copy {
  position: absolute;
}